div.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60%;
  border: 3px solid #73AD21;
  margin: 30;
  padding: 30;
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #61DAFB;
}

