* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

div{
  height: 100%;
  width: 100%;
}
/* .App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 20px;
} */

.Header {
  position: relative;
  height: 100px;
  width: 100%;
 }

.App-logo {
  height: 40vmin;
}


.Footer {
  /* height: 20px; */
  width: 100%;
  position: relative;
  bottom: 0;
}



/* .App-link {
  color: blue;
} */
